.auth-container {
    background-color: white;
    background-image: url('../images/desk.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.auth-form {
display: flex;
flex-direction: column;
width: 35vw;
margin: auto;
/* padding-top: 30px; */


/* justify-items: center; */

/* border: 2px solid black */
}

.auth-form input {
    width: 100%;
    height: 50px;
    border: none;
    margin-bottom: 20px;
    color: rgb(80, 96, 134);
    padding-left: 15px
}


.auth-container h1 {
    font-size: 2em;
    color: rgb(80, 96, 134);
    padding-bottom: 20px;
    /* margin-top: 200px */
}

.auth-container a {
    color: rgb(80, 96, 134);
    margin-top: 10px
}

.auth-container a:hover {
    text-decoration: none;
    color: rgb(80, 96, 134);
    font-weight: bold;
}

.alert {
    margin-top: 20px;
    /* backgro */
}



/* mobile */
@media screen and (max-width: 480px){

   .auth-form {
    width: 65vw;
 }

}