

.feed-container {
    /* background-image: url('../images/beepbeepboop.jpg'); */
    /* height: 100vh; */
    /* background-position: center; */
    /* background-size: cover; */
    
}

.header {
    font-size: 2em;
    margin-top: 15px;
    color: rgb(219, 241, 119)
}


.thought-card-container {
    margin: 20px 20%;
    background-color: rgb(172, 169, 169);
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
   
}

.thought-card-all {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    margin: auto;
    width: 75%
}

.addThought {

    border: 2px solid blue;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
}


.addThought input {
    height: 100px;
    width: 100%;
    padding: 20px;
    padding-bottom: 75px;
    font-size: 1.1em;
    color: rgb(80, 96, 134);
}


.addThought input::placeholder {
    /* padding-left: 10px; */
    padding-top: 0px;

}

.profile-pic {
    /* fix this */
    min-width: 100px; 
    max-height: 100px;
    width: 100px;
    height: 100px;
    margin: 20px;
    /* display: block; */
    object-position: center;
}

.main-content {
   
    border: 3px solid red;
   /* width: 500px; */
    width: 100%;
    padding-top: 10px;

}


.profile-link  {
    color: rgb(80, 96, 134);
    text-decoration: none;
    font-size: 20px
}

.profile-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(80, 96, 134);
}

.thought-link{
    color: rgb(80, 96, 134);
    font-size: 28px
}

.thought-link:hover {
    /* font-weight: bold; */
    color: rgb(80, 96, 134);
    text-decoration: none;;
} 

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 20px;
    /* border: 2px solid orange */
}

.likebulb {
    height: 40px;
    margin-bottom: 10px;
    /* border: 1px solid green */
}

.button {
    border: none;
    background-color: rgb(80, 96, 134);
    padding: 10px 15px;
    color: rgb(219, 241, 119);
    font-size: 1.1em
}

.action-button {
    height: 30px;
    /* width: 35px; */
    /* border: 1px solid green; */
    margin-top: 7px
}

.footer {
    background-color: rgba(139, 138, 138, 0.9);
    padding: 10px;
    color: rgb(95, 93, 93);
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}

.footer a {
    color: rgb(95, 93, 93);

}

.footer a:hover {
    text-decoration: none;
    color: rgb(80, 96, 134);
}



/* tablet */
@media screen and (max-width: 768px){

    .thought-card-all{
        flex-direction: column
    }

    .profile-link {
        border: 3px solid green;
        text-align: center
    }
}