

.feed-container {
    background-image: url('../images/wood2.jpg'); 
    height: 100vh;
    background-position: center;
    background-size: cover; 
    /* position: fixed; */
    width: 100vw;
    overflow: auto
    
}

.header {
    font-size: 2em;
    margin-top: 15px;
    color: rgb(46, 112, 46);
}


.thought-card-container {
    background-image: url('../images/paper4.png'); 

    background-position: center;
    background-size: cover; 
    /* border: 2px solid gray; */
    box-shadow: 5px 5px 15px 5px #888787;
    /* opacity: .8; */
    margin: 20px 20%;
    /* background-color: rgb(172, 169, 169); */
    /* border-radius: 5px; */
    display: flex;
    flex-direction: column;
   
}

.thought-card-all {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    margin: auto;
    width: 85%
}

.addThought {

    /* border: 2px solid blue; */
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
}


.addThought input {
    border: none;
    height: 100px;
    width: 100%;
    padding: 20px;
    padding-bottom: 75px;
    font-size: 1.1em;
    color: rgb(80, 96, 134);
}


.addThought input::placeholder {
    /* padding-left: 10px; */
    padding-top: 0px;

}

.profile-pic {
    /* fix this */
    min-width: 100px; 
    max-height: 100px;
    /* width: 100px;
    height: 100px; */
    margin: 20px 20px 20px 0px;
    /* display: block; */
    object-position: center;
}

.main-content {
   
    /* border: 3px solid red; */
   /* width: 500px; */
    width: 100%;
    padding-top: 10px;

}


.profile-link  {
    color: rgb(80, 96, 134);
    text-decoration: none;
    font-size: 20px
}

.profile-link:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(80, 96, 134);
}

.thought-link{
    color: rgb(80, 96, 134);
    font-size: 28px
}

.thought-link:hover {
    /* font-weight: bold; */
    color: rgb(80, 96, 134);
    text-decoration: none;;
} 

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-top: 20px;
    /* border: 2px solid orange */
}

.likebulb {
    height: 40px;
    margin-bottom: 10px;
    /* border: 1px solid green */
}

.button {
    border: none;
    background-color: rgb(80, 96, 134);
    padding: 10px 15px;
    color: rgb(231, 229, 229);
    font-size: 1.1em
}

.action-button {
    height: 30px;
    /* width: 35px; */
    /* border: 1px solid green; */
    margin-top: 7px
}

.footer {
    background-color: rgba(139, 138, 138, 0.2);
    padding: 10px;
    color: rgb(95, 93, 93);
    width: 100%;
    display: flex;
    justify-content: center;
    /* justify-items: center; */
    align-items: center;
}

.footer a {
    color: rgb(95, 93, 93);

}

.footer a:hover {
    text-decoration: none;
    color: rgb(80, 96, 134);
}

.nothing {
    color: rgb(80, 96, 134);
    font-size: 2em;
}



/* tablet */
@media screen and (max-width: 768px){

    .thought-card-container {
        margin: 30px 10%
    }

    .thought-card-all{
        flex-direction: column;
        width: 85%
    }

    .addThought {
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 80px
    }

    .header {
        margin: 30px auto
    }

    .profile-link {
        /* border: 3px solid green; */
        text-align: center
    }

    .profile-pic  {
        margin: 40px auto 15px auto ;
        max-height: 150px;
        height: 150px;
        max-width: 150px;
        width: 150px
    }
}


/* mobile */
@media screen and (max-width: 480px){
    .thought-card-container {
        margin: 20px 5%
    }

    .addThought{
        margin-left: 5%;
        margin-right: 5%
    }

    .profile-pic {
        height: 100px;
        width: 100px;
        /* max-height: 100px; */
        /* max-width: 100px; */
        min-width: 100px;
        min-height: 100px;
        margin: 25px auto 0px auto
    }

    .profile-link {
        font-size: 16px;
    }

    .thought-link {
        font-size: 22px;
    }

    .button-container {
        padding-top: 5px;
    }
}