.feed-container {
   display: flex;
   flex-direction: column;
   border: 8px solid orange;
   height: 100vh;
   overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
    border: 3px solid purple;
    width: 50%;

}

input {
    height: 70px;
}

.thought-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thought {
    border: 3px solid green;
    width: 50%;
    border-radius: 6px;
}

a:hover {
    text-decoration: none;
}