.nav-container {
    height: 50px;
    width: 100vw;
    background-color: rgb(211, 216, 216);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center
}

.welcome {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: navy;
    font-size: 18px;
    margin-right: 15px;
    font-weight: bold
}

.welcome:hover {
    text-decoration: none;
    color: navy;
}


.feed-icon {
    height: 45px;
    margin-left: 5px
}
