.nav-container {
    height: 50px;
    max-width: 100vw;
    width: 100vw;
    background-color: darkslategray;
    display: flex;
}

.welcome {
    /* float: right; */
    position: absolute;
    right: 45px;
    color: navy;
    font-size: 18px;
}

.welcome:hover {
    text-decoration: none;
    color: navy;
}

