.p-profile-picture {
    margin-top: 5%;
    height: 20em;
}

.profile-toggle-container {
    display: flex;
    justify-content: center;
}

.edit-button {
    height: 30px;
    margin: 10px
}

.choose-file {
    /* width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1; */ 
}

.edit-bio {
    border: 3px solid snow;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center */
}

.edit-bio form{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid gold;
    /* justify-content: center;
    justify-items: center; */
}

.edit-bio input {
/* margin-right: 160px; */
height: 50px;

}


.profile-info {
    display: flex;
    justify-content: center;
}