.author-container {
    display: flex;
    justify-content: center;
}

.author-container h1 {
    margin-top: 100px;
    margin-left: 20px;
    color: rgb(120, 144, 201);
    font-size: 1.7em
}

.thought-profile-pic {
    margin-top: 70px;
    height: 120px;
    width: 120px;
    overflow: hidden;
    /* position: relative; */
}

.add-comment {

    border: 2px solid blue;
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
}


.add-comment input {
    height: 100px;
    width: 100%;
    padding: 20px;
    padding-bottom: 75px;
    font-size: 1.1em;
    color: rgb(80, 96, 134);
}


.add-comment input::placeholder {
    /* padding-left: 10px; */
    padding-top: 0px;

}

.the-thought {
    margin: 20px 20%;
    justify-content: center;
    /* border: 2px solid blue */
    font-size: 2em;
    color: rgb(219, 241, 119);
}

.trashio {
    height: 30px;
    width: 20px;
    margin-left: 15px
}

.comment-by {
    display: flex;
    justify-content: center;
}

.comment {
    margin: 40px 20%;
}

.comment h3 {
    color: rgb(172, 169, 169);
    font-size: 1em;
    margin-top: 5px
}

.comment h2 {
    color: rgb(120, 144, 201);
}



/* tablet */
@media screen and (max-width: 768px){

    .add-comment {
        margin-left: 10%;
        margin-right: 10%;
    }

    .author-container {
        margin-top: 20px;
        margin-bottom: 40px
    }

    .add-comment {
        margin-top: 40px
    }
    
}


/* mobile */
@media screen and (max-width: 480px){

    .add-comment {
        margin-left: 5%;
        margin-right: 5%
    }
}